# Homework 2

## Aliza Rafique (ar05986)

### Email: ar05986@st.habib.edu.pk

## Part 2

In [139]:
import pandas as pd
import datetime
pd.options.mode.chained_assignment = None
import numpy as np

In [140]:
data = pd.read_csv("580SurveyCleanup_formatted.csv")

In [141]:
data = data.drop(columns='Unnamed: 0') # repeated column

### Columns with missing values

In [142]:
data.columns[data.isnull().any()]

Index(['Access Code', 'Email Address', 'Region', 'City / Town / District',
       'Height (Inches)', 'Country of Citizenship', 'Undergraduate Degree',
       'Expected Graduation date from Mason MS program?',
       'What is your goal for learning about data analytics?', 'Employment',
       'Python Proficiency', 'Type of Laptop', 'R Proficiency',
       'SQL Proficiency'],
      dtype='object')

### Firstly, replacing all null values with ''

In [143]:
data = data.fillna('')
data
data['Section'] = data['Section'].astype('string')

### It is important to fix specific values of data (cleaning) before filling in the missing values.

### Cleaning the data

#### Columns that require cleaning:

In [144]:
data[['Age (years)', 'Height (Inches)', 'Country of Citizenship', 'Undergraduate Degree', 
      'What is your goal for learning about data analytics?']]

,Age (years),Height (Inches),Country of Citizenship,Undergraduate Degree,What is your goal for learning about data analytics?
0,23,63,Taiwan,economics,
1,24,59,India,Finance,
2,40,70,India,Computer Applications,"As part of my work, I have access to a lot of ..."
3,26,66,South Korea,Business Management,
4,30,70,US,Yes,Learn
5,25,,,,
6,24,70,pakistan,Finance,To deduce meaningful interpretation for Financ...
7,30,5.2,,,
8,24,71,china,Economic,
9,26,71,Uzbekistan,Economics with Finance,
10,24,66,USA,BIT,To see if it is a field I am interested in pur...
11,25,66,India,Computer Engineering,To learn and explore cutting edge data technol...
12,25,69,Romania,Biology,Learn to select the appropriate tools to condu...
13,23,66,India,Cse,
14,31,67,China,Management,improve my skills
15,26,72,Uzbekistan,Economics with Finance,My professional goal is to become a Financial ...
16,40,68,USA,Economics,able to compliment my Computational Social Sci...
17,2 3,60,India,Engineering,To start a company
18,25,67,Ethiopia,Accounting and ISOM,To be able understand and manipulate data to m...
19,22,67,United States,Statistics,My ultimate goal is to get a job as a sports a...
20,23,74,United States,Computer Science,To understand how to properly interpret and di...
21,25,65,India,Computer science,"After graduating data analytics, I want myself..."
22,22,67,USA,Mathematics & Statistics,Learning how to appropriately handle large qua...
23,23,75,Nigeria,Economics,To learn and understand the fundamentals and m...
24,27,67,USA,Systems Engineering,The goal is to learn as many programming/stati...
25,28,68,Taiwan,Civil engineering,Learning analytics tool and being good at them
26,23,72,India,ECE,I want to be as a data analyst
27,35,6l,Nigeria,Quantity Surveying,It is very relevant to my PhD research area an...
28,27,64,India,Bachelor of Engineering,Learn how to handle large amount structured an...
29,25,71,India,B.Tech in CS,To become a good Data Analyst and work for top...
30,55,56,United States,BS accounting,Get a better understanding of the granularity ...
31,23,70,India,Bachelor of engineering,
32,1993,7O,United States ; Pakistan,Criminology Law and Soci,Learn how data analytics works
33,23,73,USA,Economics,Advance my career in data science
34,24,68,Vietnam,Finance,Getting a good job
35,28,66,Uzbekistan,Psychology,to use the skills at work.

#### Age (years)
Two values need to be fixed:
1. Value in row 17: 2 3 -> 23
2. Value in row 32: age needs to be calculated from 1993.

For the second point, I will calculate data from 1993 to 2022.

In [145]:
# Correct 1
data['Age (years)'] = data['Age (years)'].replace('2 3', '23').astype('int')
# Correct 2
data['Age (years)'] = data['Age (years)'].replace(1993, str(2022-1993)).astype('int') # do better
# Final conversion to integer
data['Age (years)'] = data['Age (years)'].astype('int')
data['Age (years)']

0     23
1     24
2     40
3     26
4     30
5     25
6     24
7     30
8     24
9     26
10    24
11    25
12    25
13    23
14    31
15    26
16    40
17    23
18    25
19    22
20    23
21    25
22    22
23    23
24    27
25    28
26    23
27    35
28    27
29    25
30    55
31    23
32    29
33    23
34    24
35    28
Name: Age (years), dtype: int32

#### Height (inches)
Following changes are required:
1. In row 7, 5.2 value is not inches, possibly in feet that will be converted to inches. 
2. In row 27, the value "6I" is a typo. It might possibly mean 61. 
3. In row 32, the value "7O" is a typo. It might possibly mean 70.

In [146]:
# Correction 1:
new_val = int(5.2 * 12)
data['Height (Inches)'] = data['Height (Inches)'].replace('5.2', str(new_val))

# Correction 2:
data['Height (Inches)'] = data['Height (Inches)'].replace('6l', '61')

# Correction 3:
data['Height (Inches)'] = data['Height (Inches)'].replace('7O', '70')
data[['Age (years)', 'Height (Inches)']]

    Age (years) Height (Inches)
0            23              63
1            24              59
2            40              70
3            26              66
4            30              70
5            25
6            24              70
7            30              62
8            24              71
9            26              71
10           24              66
11           25              66
12           25              69
13           23              66
14           31              67
15           26              72
16           40              68
17           23              60
18           25              67
19           22              67
20           23              74
21           25              65
22           22              67
23           23              75
24           27              67
25           28              68
26           23              72
27           35              61
28           27              64
29           25              71
30           55              56
31           23              70
32           29              70
33           23              73
34           24              68
35           28              66

#### Country of Citizenship
Following changes are needed:
1. All the values need to have same string pattern for this case, (title form)
2. In row 32, dual citizenship is mentioned. For this, a semicolon would be removed and the entries will be separated by a coma. 
3. All USA or US (line 4) will be converted to Unites States.
4. Removing all trailing spaces.

In [147]:
# Correction 3
data.loc[data['Country of Citizenship'].str.contains("US"), 'Country of Citizenship'] = 'United States'

# # Correction 2
data['Country of Citizenship'][32] = data['Country of Citizenship'][32].replace(' ; ', ' ') 

# Correction 1
data['Country of Citizenship'] = pd.Series(data['Country of Citizenship']).str.title()

# Correction 4
data['Country of Citizenship'] = pd.Series(data['Country of Citizenship']).str.strip()

data[['Age (years)', 'Height (Inches)', 'Country of Citizenship']]

    Age (years) Height (Inches)  Country of Citizenship
0            23              63                  Taiwan
1            24              59                   India
2            40              70                   India
3            26              66             South Korea
4            30              70           United States
5            25
6            24              70                Pakistan
7            30              62
8            24              71                   China
9            26              71              Uzbekistan
10           24              66           United States
11           25              66                   India
12           25              69                 Romania
13           23              66                   India
14           31              67                   China
15           26              72              Uzbekistan
16           40              68           United States
17           23              60                   India
18           25              67                Ethiopia
19           22              67           United States
20           23              74           United States
21           25              65                   India
22           22              67           United States
23           23              75                 Nigeria
24           27              67           United States
25           28              68                  Taiwan
26           23              72                   India
27           35              61                 Nigeria
28           27              64                   India
29           25              71                   India
30           55              56           United States
31           23              70                   India
32           29              70  United States Pakistan
33           23              73           United States
34           24              68                 Vietnam
35           28              66              Uzbekistan

#### Undergraduate Degree
Following tasks are performed:
1. Making all the strings title.
2. Removing trailing spaces.

In [148]:
# Correction 1
data['Undergraduate Degree'] = pd.Series(data['Undergraduate Degree']).str.title()

# Correction 2
data['Undergraduate Degree'] = pd.Series(data['Undergraduate Degree']).str.strip()

# Correction 3
data.loc[data['Undergraduate Degree'].str[:3] == "Eco", 'Undergraduate Degree'] = 'Economics'
data[['Age (years)', 'Height (Inches)', 'Country of Citizenship', 'Undergraduate Degree']]

,Age (years),Height (Inches),Country of Citizenship,Undergraduate Degree
0,23,63,Taiwan,Economics
1,24,59,India,Finance
2,40,70,India,Computer Applications
3,26,66,South Korea,Business Management
4,30,70,United States,Yes
5,25,,,
6,24,70,Pakistan,Finance
7,30,62,,
8,24,71,China,Economics
9,26,71,Uzbekistan,Economics
10,24,66,United States,Bit
11,25,66,India,Computer Engineering
12,25,69,Romania,Biology
13,23,66,India,Cse
14,31,67,China,Management
15,26,72,Uzbekistan,Economics
16,40,68,United States,Economics
17,23,60,India,Engineering
18,25,67,Ethiopia,Accounting And Isom
19,22,67,United States,Statistics
20,23,74,United States,Computer Science
21,25,65,India,Computer Science
22,22,67,United States,Mathematics & Statistics
23,23,75,Nigeria,Economics
24,27,67,United States,Systems Engineering
25,28,68,Taiwan,Civil Engineering
26,23,72,India,Ece
27,35,61,Nigeria,Quantity Surveying
28,27,64,India,Bachelor Of Engineering
29,25,71,India,B.Tech In Cs
30,55,56,United States,Bs Accounting
31,23,70,India,Bachelor Of Engineering
32,29,70,United States Pakistan,Criminology Law And Soci
33,23,73,United States,Economics
34,24,68,Vietnam,Finance
35,28,66,Uzbekistan,Psychology

#### Analytics Goal
Following are the changes required:
1. Trailing spaces needs to be removed.

In [149]:
# Correction 1
data['What is your goal for learning about data analytics?'] = pd.Series(
    data['What is your goal for learning about data analytics?']).str.strip()
data['What is your goal for learning about data analytics?'] = pd.Series(
    data['What is your goal for learning about data analytics?']).str.title()
data[['Age (years)', 'Height (Inches)', 'Country of Citizenship', 'Undergraduate Degree', 
      'What is your goal for learning about data analytics?']]

,Age (years),Height (Inches),Country of Citizenship,Undergraduate Degree,What is your goal for learning about data analytics?
0,23,63,Taiwan,Economics,
1,24,59,India,Finance,
2,40,70,India,Computer Applications,"As Part Of My Work, I Have Access To A Lot Of ..."
3,26,66,South Korea,Business Management,
4,30,70,United States,Yes,Learn
5,25,,,,
6,24,70,Pakistan,Finance,To Deduce Meaningful Interpretation For Financ...
7,30,62,,,
8,24,71,China,Economics,
9,26,71,Uzbekistan,Economics,
10,24,66,United States,Bit,To See If It Is A Field I Am Interested In Pur...
11,25,66,India,Computer Engineering,To Learn And Explore Cutting Edge Data Technol...
12,25,69,Romania,Biology,Learn To Select The Appropriate Tools To Condu...
13,23,66,India,Cse,
14,31,67,China,Management,Improve My Skills
15,26,72,Uzbekistan,Economics,My Professional Goal Is To Become A Financial ...
16,40,68,United States,Economics,Able To Compliment My Computational Social Sci...
17,23,60,India,Engineering,To Start A Company
18,25,67,Ethiopia,Accounting And Isom,To Be Able Understand And Manipulate Data To M...
19,22,67,United States,Statistics,My Ultimate Goal Is To Get A Job As A Sports A...
20,23,74,United States,Computer Science,To Understand How To Properly Interpret And Di...
21,25,65,India,Computer Science,"After Graduating Data Analytics, I Want Myself..."
22,22,67,United States,Mathematics & Statistics,Learning How To Appropriately Handle Large Qua...
23,23,75,Nigeria,Economics,To Learn And Understand The Fundamentals And M...
24,27,67,United States,Systems Engineering,The Goal Is To Learn As Many Programming/Stati...
25,28,68,Taiwan,Civil Engineering,Learning Analytics Tool And Being Good At Them
26,23,72,India,Ece,I Want To Be As A Data Analyst
27,35,61,Nigeria,Quantity Surveying,It Is Very Relevant To My Phd Research Area An...
28,27,64,India,Bachelor Of Engineering,Learn How To Handle Large Amount Structured An...
29,25,71,India,B.Tech In Cs,To Become A Good Data Analyst And Work For Top...
30,55,56,United States,Bs Accounting,Get A Better Understanding Of The Granularity ...
31,23,70,India,Bachelor Of Engineering,
32,29,70,United States Pakistan,Criminology Law And Soci,Learn How Data Analytics Works
33,23,73,United States,Economics,Advance My Career In Data Science
34,24,68,Vietnam,Finance,Getting A Good Job
35,28,66,Uzbekistan,Psychology,To Use The Skills At Work.

### Filling the missing values

#### Access Code and Email Address
Since both these columns have all null values, there is no information to be preserved about these columns. Therefore, they can be dropped.

In [150]:
data = data.drop(columns=['Access Code', 'Email Address'], axis=1)
data

,No.,Time,Status,Duration (Seconds),IP Address,Country,Region,City / Town / District,Latitude,Longitude,...,Undergraduate Degree,Expected Graduation date from Mason MS program?,What is your goal for learning about data analytics?,Section,Gender,Employment,Python Proficiency,Type of Laptop,R Proficiency,SQL Proficiency
0,1,10/3/20 5:49 PM,Completed,11646,100.36.167.226,United States,Virginia,Fairfax,-77.2891,38.8209,...,Economics,2021-12-31,,4,Female,Not Working while attending Mason,Some familiarity,Apple/MacBook,Little/none,Little/none
1,2,10/3/20 5:49 PM,Completed,113,98.169.26.134,United States,Virginia,Fairfax,-77.2630,38.8605,...,Finance,2021-05-01,,2,Female,"Working, but not Full Time",Average user,Apple/MacBook,Average user,Average user
2,3,10/3/20 5:49 PM,Completed,572,98.169.52.23,United States,Virginia,Greenway Downs,-77.2331,38.9645,...,Computer Applications,2022-06-01,"As Part Of My Work, I Have Access To A Lot Of ...",2,Male,"Yes, Full Time",Some familiarity,Apple/MacBook,Little/none,Little/none
3,4,10/3/20 5:50 PM,Completed,365,69.255.182.253,United States,Virginia,Gainesville,-77.6308,38.8175,...,Business Management,2021-12-31,,2,Prefer not to answer,Not Working while attending Mason,Average user,Microsoft/Windows,Frequent use for projects,Frequent use for projects
4,5,10/3/20 5:51 PM,Completed,92,138.88.108.230,United States,,,-97.8220,37.7510,...,Yes,2021-01-01,Learn,2,Male,"Yes, Full Time",Some familiarity,Apple/MacBook,Some familiarity,Some familiarity
5,6,10/3/20 5:59 PM,Incomplete,221,108.56.134.80,United States,Virginia,Reston,-77.3489,38.9311,...,,,,2,Female,,,,,
6,7,10/3/20 6:23 PM,Completed,115983,108.48.175.220,United States,Virginia,Arlington,-77.0987,38.8600,...,Finance,2022-07-15,To Deduce Meaningful Interpretation For Financ...,2,NonBinary,"Working, but not Full Time",Average user,Microsoft/Windows,Average user,Average user
7,8,10/3/20 7:10 PM,Incomplete,40,173.67.199.85,United States,Virginia,Ashburn,-77.5390,39.0180,...,,,,2,Female,,,,,
8,9,10/3/20 7:25 PM,Completed,137,74.96.114.12,United States,Virginia,Woodbridge,-77.3197,38.6780,...,Economics,2021-12-15,,2,Male,"Yes, Full Time",Some familiarity,Microsoft/Windows,Frequent use for projects,Frequent use for projects
9,10,10/3/20 7:56 PM,Incomplete,179,107.77.241.32,United States,Texas,,-96.8217,32.7787,...,Economics,,,4,Male,,,,,
10,11,10/3/20 8:14 PM,Completed,127,138.88.182.245,United States,Maryland,Takoma Park,-77.0040,38.9827,...,Bit,2022-05-01,To See If It Is A Field I Am Interested In Pur...,2,Female,Not Working while attending Mason,Little/none,Microsoft/Windows,Little/none,Little/none
11,12,10/3/20 9:38 PM,Completed,269,72.83.246.60,United States,Virginia,Fairfax,-77.2630,38.8605,...,Computer Engineering,2021-05-31,To Learn And Explore Cutting Edge Data Technol...,4,Female,Not Working while attending Mason,Frequent use for projects,Microsoft/Windows,Average user,Average user
12,13,10/3/20 9:41 PM,Completed,117,96.241.43.105,United States,Virginia,Chantilly,-77.4512,38.9036,...,Biology,2021-08-26,Learn To Select The Appropriate Tools To Condu...,2,Male,"Working, but not Full Time",Some familiarity,Apple/MacBook,Average user,Average user
13,14,10/3/20 10:49 PM,Completed,5966,71.191.72.223,United States,Virginia,Burke,-77.2866,38.7851,...,Cse,2021-12-25,,2,Female,Not Working while attending Mason,Average user,Microsoft/Windows,Average user,Average user
14,15,10/3/20 11:25 PM,Completed,254,73.134.53.227,United States,Maryland,Hyattsville,-76.8696,38.9544,...,Management,2021-12-31,Improve My Skills,4,Female,Not Working while attending Mason,Average user,Microsoft/Windows,Little/none,Little/none
15,16,10/4/20 12:28 AM,Completed,526,73.86.219.52,United States,Maryland,Baltimore,-76.6355,39.3555,...,Economics,2022-05-01,My Professional Goal Is To Become A Financial ...,4,Male,Not Working while attending Mason,Some familiarity,Microsoft/Windows,Some familiarity,Some familiarity
16,17,10/4/20 5:22 AM,Completed,398,69.138.215.127,United States,Virginia,Arlington,-77.1130,38.8747,...,Economics,2022-05-31,Able To Compliment My Computational Social Sci...,2,Male,"Yes, Full Time",Average user,Microsoft/WindowsApple/MacBook,Some familiarity,Some familiarity
17,18,10/4/20 5:36 AM,Completed,128253,72.196.231.70,United States,Virginia,Springfield,-77.2333,38.7438,...,Engineering,2021-01-12,To Start A Company,2,Male,Not Working while attending Mason,Frequent use for projects,Microsoft/Windows,Frequent use for projects,Frequent use for projects
18,19,10/4/20 5:47 AM,Completed,239,100.15.54.17,United States,Virginia,Woodbridge,-77.3197,38.6780,...,Accounting And Isom,2021-12-20,To Be Able Understand And Manipulate Data To M...,4,Male,Not Working while attending Mason,Little/none,Microsoft/Windows,Little/none,Little/none
19,20,10/4/20 10:32 AM,Completed,255,184.170.83.239,United States,Virginia,Rustburg,-79.0985,37.2544,...,Statistics,2021-12-20,My Ultimate Goal Is To Get A Job As A Sports A...,4,Female,"Working, but not Full Time",Some familiarity,Apple/MacBook,Fluent/expert,Fluent/expert
20,21,10/4/20 11:03 AM,Completed,256,100.36.243.102,United States,Virginia,Fairfax,-77.3375,38.8357,...,Computer Science,2022-05-01,To Understand How To Properly Interpret And Di...,4,Male,"Yes, Full Time",Some familiarity,Microsoft/Windows,Some familiarity,Some familiarity
21,22,10/4/20 12:34 PM,Completed,674,108.56.134.80,United States,Virginia,Reston,-77.3489,38.9311,...,Computer Science,2022-04-16,"After Graduating Data Analytics, I Want Myself...",2,Female,Not Working while attending Mason,Some familiarity,Microsoft/Windows,Little/none,Little/none
22,23,10/4/20 1:36 PM,Completed,130,73.163.163.82,United States,Maryland,Baltimore,-76.5570,39.2784,...,Mathematics & Statistics,2021-12-18,Learning How To Appropriately Handle Large Qua...,4,Female,"Working, but not Full Time",Some familiarity,Microsoft/WindowsApple/MacBook,Frequent use for projects,Frequent use for projects
23,24,10/4/20 1:50 PM,Completed,275,138.88.223.87,United States,,,-97.8220,37.7510,...,Economics,2021-05-14,To Learn And Understand The Fundamentals And M...,4,Male,Not Working while attending Mason,Little/none,Microsoft/Windows,Little/none,Little/none
24,25,10/4/20 9:28 PM,Completed,325,100.36.50.114,United States,,,-97.8220,37.7510,...,Systems Engineering,2022-12-19,The Goal Is To Learn As Many Programming/Stati...,4,Female,"Yes, Full Time",Average user,Microsoft/Windows,Average user,Average user
25,26,10/5/20 9:37 AM,Completed,257,108.51.59.195,United States,Virginia,Burke,-77.2866,38.7851,...,Civil Engineering,2021-05-30,Learning Analytics Tool And Being Good At Them,2,Male,"Yes, Full Time",Average user,Microsoft/Windows,Some familiarity,Some familiarity
26,27,10/5/20 9:36 AM,Completed,657,72.83.246.219,United States,Virginia,Fairfax,-77.2630,38.8605,...,Ece,2021-12-11,I Want To Be As A Data Analyst,2,Male,Not Working while attending Mason,Average user,Apple/MacBook,Frequent use for projects,Frequent use for projects
27,28,10/5/20 10:36 AM,Completed,1750,100.36.118.186,United States,Virginia,Burke,-77.2866,38.7851,...,Quantity Surveying,2023-05-24,It Is Very Relevant To My Phd Research Area An...,4,Male,Not Working while attending Mason,Average user,Microsoft/Windows,Frequent use for projects,Frequent use for projects
28,29,10/5/20 11:02 AM,Completed,887,172.58.187.98,United States,Maryland,Baltimore,-76.6949,39.2820,...,Bachelor Of Engineering,2021-12-30,Learn How To Handle Large Amount Structured An...,4,Female,Not Working while attending Mason,Average user,Microsoft/Windows,Average user,Average user
29,30,10/5/20 11:17 AM,Completed,180,72.196.230.201,United States,Virginia,Springfield,-77.2333,38.7438,...,B.Tech In Cs,2021-12-15,To Become A Good Data Analyst And Work For Top...,2,Male,Not Working while attending Mason,Average user,Apple/MacBook,Average user,Average user
30,31,10/5/20 12:52 PM,Completed,392,108.18.111.204,United States,Virginia,Lorton,-77.2060,38.6911,...,Bs Accounting,2021-05-01,Get A Better Understanding Of The Granularity ...,4,Female,"Yes, Full Time",Little/none,Microsoft/Windows,Some familiarity,Some familiarity
31,32,10/5/20 12:56 PM,Incomplete,192,71.191.72.223,United States,Virginia,Burke,-77.2866,38.7851,...,Bachelor Of Engineering,2021-12-21,,2,Female,Not Working while attending Mason,Average user,Microsoft/WindowsApple/MacBook,Frequent use for projects,Frequent use for projects
32,33,10/5/20 1:52 PM,Completed,277,184.191.72.8,United States,Virginia,Falls Church,-77.1425,38.8472,...,Criminology Law And Soci,2021-12-18,Learn How Data Analytics Works,2,Male,"Yes, Full Time",Average user,Microsoft/Windows,Some familiarity,Some familiarity
33,34,10/5/20 3:34 PM,Completed,119,141.156.160.243,United States,,,-97.8220,37.7510,...,Economics,2022-05-15,Advance My Career In Data Science,4,Male,"Yes, Full Time",Average user,Microsoft/Windows,Average user,Average user
34,35,10/5/20 3:41 PM,Completed,149,71.206.51.121,United States,Maryland,Frederick,-77.2758,39.4624,...,Finance,2022-12-12,Getting A Good Job,2,Male,Not Working while attending Mason,Some familiarity,Microsoft/Windows,Some familiarity,Some familiarity
35,36,10/5/20 5:58 PM,Completed,285,129.174.252.234,United States,Virginia,Fairfax,-77.3375,38.8357,...,Psychology,2021-12-20,To Use The Skills At Work.,4,Female,"Yes, Full Time",Some familiarity,Acer/Windows,Little/none,Little/none

#### Region
For this column, we will take a mode of the values to fill in as we can see certain values appearing a lot of times. This also seems like a categorical data.

In [151]:
data['Region'] = data['Region'].replace('', data['Region'].mode()[0])
data['Region']

0     Virginia
1     Virginia
2     Virginia
3     Virginia
4     Virginia
5     Virginia
6     Virginia
7     Virginia
8     Virginia
9        Texas
10    Maryland
11    Virginia
12    Virginia
13    Virginia
14    Maryland
15    Maryland
16    Virginia
17    Virginia
18    Virginia
19    Virginia
20    Virginia
21    Virginia
22    Maryland
23    Virginia
24    Virginia
25    Virginia
26    Virginia
27    Virginia
28    Maryland
29    Virginia
30    Virginia
31    Virginia
32    Virginia
33    Virginia
34    Maryland
35    Virginia
Name: Region, dtype: object

#### City / Town / District
Again, here as well taking the mode of the data to fill in the empty values.

In [152]:
data['City / Town / District'] = data['City / Town / District'].replace('', data['City / Town / District'].mode()[0])
data[['Region','City / Town / District']]

      Region City / Town / District
0   Virginia                Fairfax
1   Virginia                Fairfax
2   Virginia         Greenway Downs
3   Virginia            Gainesville
4   Virginia                Fairfax
5   Virginia                 Reston
6   Virginia              Arlington
7   Virginia                Ashburn
8   Virginia             Woodbridge
9      Texas                Fairfax
10  Maryland            Takoma Park
11  Virginia                Fairfax
12  Virginia              Chantilly
13  Virginia                  Burke
14  Maryland            Hyattsville
15  Maryland              Baltimore
16  Virginia              Arlington
17  Virginia            Springfield
18  Virginia             Woodbridge
19  Virginia               Rustburg
20  Virginia                Fairfax
21  Virginia                 Reston
22  Maryland              Baltimore
23  Virginia                Fairfax
24  Virginia                Fairfax
25  Virginia                  Burke
26  Virginia                Fairfax
27  Virginia                  Burke
28  Maryland              Baltimore
29  Virginia            Springfield
30  Virginia                 Lorton
31  Virginia                  Burke
32  Virginia           Falls Church
33  Virginia                Fairfax
34  Maryland              Frederick
35  Virginia                Fairfax

#### Height (Inches)
Taking the mean height value of the data and filling the missing values with that.

In [153]:
data['Height (Inches)'] = data['Height (Inches)'].replace('', '0')
data['Height (Inches)'] = data['Height (Inches)'].astype('int')

data.loc[data['Height (Inches)'] == 0, 'Height (Inches)'] = data['Height (Inches)'].mean(0, skipna=True)
data['Height (Inches)'] = data['Height (Inches)'].astype('int')
data[['Region','City / Town / District', 'Height (Inches)']]

      Region City / Town / District  Height (Inches)
0   Virginia                Fairfax               63
1   Virginia                Fairfax               59
2   Virginia         Greenway Downs               70
3   Virginia            Gainesville               66
4   Virginia                Fairfax               70
5   Virginia                 Reston               65
6   Virginia              Arlington               70
7   Virginia                Ashburn               62
8   Virginia             Woodbridge               71
9      Texas                Fairfax               71
10  Maryland            Takoma Park               66
11  Virginia                Fairfax               66
12  Virginia              Chantilly               69
13  Virginia                  Burke               66
14  Maryland            Hyattsville               67
15  Maryland              Baltimore               72
16  Virginia              Arlington               68
17  Virginia            Springfield               60
18  Virginia             Woodbridge               67
19  Virginia               Rustburg               67
20  Virginia                Fairfax               74
21  Virginia                 Reston               65
22  Maryland              Baltimore               67
23  Virginia                Fairfax               75
24  Virginia                Fairfax               67
25  Virginia                  Burke               68
26  Virginia                Fairfax               72
27  Virginia                  Burke               61
28  Maryland              Baltimore               64
29  Virginia            Springfield               71
30  Virginia                 Lorton               56
31  Virginia                  Burke               70
32  Virginia           Falls Church               70
33  Virginia                Fairfax               73
34  Maryland              Frederick               68
35  Virginia                Fairfax               66

#### Country of Citizenship
For this we will again take the mode as it is a nominal data.

In [154]:
data['Country of Citizenship'] = data['Country of Citizenship'].replace('', data['Country of Citizenship'].mode()[0])
data[['Region','City / Town / District', 'Height (Inches)', 'Country of Citizenship']]

      Region City / Town / District  Height (Inches)  Country of Citizenship
0   Virginia                Fairfax               63                  Taiwan
1   Virginia                Fairfax               59                   India
2   Virginia         Greenway Downs               70                   India
3   Virginia            Gainesville               66             South Korea
4   Virginia                Fairfax               70           United States
5   Virginia                 Reston               65                   India
6   Virginia              Arlington               70                Pakistan
7   Virginia                Ashburn               62                   India
8   Virginia             Woodbridge               71                   China
9      Texas                Fairfax               71              Uzbekistan
10  Maryland            Takoma Park               66           United States
11  Virginia                Fairfax               66                   India
12  Virginia              Chantilly               69                 Romania
13  Virginia                  Burke               66                   India
14  Maryland            Hyattsville               67                   China
15  Maryland              Baltimore               72              Uzbekistan
16  Virginia              Arlington               68           United States
17  Virginia            Springfield               60                   India
18  Virginia             Woodbridge               67                Ethiopia
19  Virginia               Rustburg               67           United States
20  Virginia                Fairfax               74           United States
21  Virginia                 Reston               65                   India
22  Maryland              Baltimore               67           United States
23  Virginia                Fairfax               75                 Nigeria
24  Virginia                Fairfax               67           United States
25  Virginia                  Burke               68                  Taiwan
26  Virginia                Fairfax               72                   India
27  Virginia                  Burke               61                 Nigeria
28  Maryland              Baltimore               64                   India
29  Virginia            Springfield               71                   India
30  Virginia                 Lorton               56           United States
31  Virginia                  Burke               70                   India
32  Virginia           Falls Church               70  United States Pakistan
33  Virginia                Fairfax               73           United States
34  Maryland              Frederick               68                 Vietnam
35  Virginia                Fairfax               66              Uzbekistan

#### Undergraduate Degree
This is also a Nominal data so we will take the mode to fill out missing values.

In [155]:
data['Undergraduate Degree'] = data['Undergraduate Degree'].replace('', data['Undergraduate Degree'].mode()[0])
data[['Region','City / Town / District', 'Height (Inches)', 'Country of Citizenship', 'Undergraduate Degree']]

,Region,City / Town / District,Height (Inches),Country of Citizenship,Undergraduate Degree
0,Virginia,Fairfax,63,Taiwan,Economics
1,Virginia,Fairfax,59,India,Finance
2,Virginia,Greenway Downs,70,India,Computer Applications
3,Virginia,Gainesville,66,South Korea,Business Management
4,Virginia,Fairfax,70,United States,Yes
5,Virginia,Reston,65,India,Economics
6,Virginia,Arlington,70,Pakistan,Finance
7,Virginia,Ashburn,62,India,Economics
8,Virginia,Woodbridge,71,China,Economics
9,Texas,Fairfax,71,Uzbekistan,Economics
10,Maryland,Takoma Park,66,United States,Bit
11,Virginia,Fairfax,66,India,Computer Engineering
12,Virginia,Chantilly,69,Romania,Biology
13,Virginia,Burke,66,India,Cse
14,Maryland,Hyattsville,67,China,Management
15,Maryland,Baltimore,72,Uzbekistan,Economics
16,Virginia,Arlington,68,United States,Economics
17,Virginia,Springfield,60,India,Engineering
18,Virginia,Woodbridge,67,Ethiopia,Accounting And Isom
19,Virginia,Rustburg,67,United States,Statistics
20,Virginia,Fairfax,74,United States,Computer Science
21,Virginia,Reston,65,India,Computer Science
22,Maryland,Baltimore,67,United States,Mathematics & Statistics
23,Virginia,Fairfax,75,Nigeria,Economics
24,Virginia,Fairfax,67,United States,Systems Engineering
25,Virginia,Burke,68,Taiwan,Civil Engineering
26,Virginia,Fairfax,72,India,Ece
27,Virginia,Burke,61,Nigeria,Quantity Surveying
28,Maryland,Baltimore,64,India,Bachelor Of Engineering
29,Virginia,Springfield,71,India,B.Tech In Cs
30,Virginia,Lorton,56,United States,Bs Accounting
31,Virginia,Burke,70,India,Bachelor Of Engineering
32,Virginia,Falls Church,70,United States Pakistan,Criminology Law And Soci
33,Virginia,Fairfax,73,United States,Economics
34,Maryland,Frederick,68,Vietnam,Finance
35,Virginia,Fairfax,66,Uzbekistan,Psychology

#### Expected Graduation date from Mason MS program
Setting the missing values to today's date as there is no mode for this column.

In [156]:
data['Expected Graduation date from Mason MS program?'] = data['Expected Graduation date from Mason MS program?'].replace('', pd.to_datetime('today').date())
data['Expected Graduation date from Mason MS program?']

0     2021-12-31
1     2021-05-01
2     2022-06-01
3     2021-12-31
4     2021-01-01
5     2022-01-28
6     2022-07-15
7     2022-01-28
8     2021-12-15
9     2022-01-28
10    2022-05-01
11    2021-05-31
12    2021-08-26
13    2021-12-25
14    2021-12-31
15    2022-05-01
16    2022-05-31
17    2021-01-12
18    2021-12-20
19    2021-12-20
20    2022-05-01
21    2022-04-16
22    2021-12-18
23    2021-05-14
24    2022-12-19
25    2021-05-30
26    2021-12-11
27    2023-05-24
28    2021-12-30
29    2021-12-15
30    2021-05-01
31    2021-12-21
32    2021-12-18
33    2022-05-15
34    2022-12-12
35    2021-12-20
Name: Expected Graduation date from Mason MS program?, dtype: object

#### What is your goal for learning about data analytics?
Filling the missing values with "No Response" as it is an open-ended question and no statistical method would be appropriate to fill in the values.

In [157]:
data['What is your goal for learning about data analytics?'] = data['What is your goal for learning about data analytics?'].replace('', 'No Response')
data['What is your goal for learning about data analytics?']

0                                           No Response
1                                           No Response
2     As Part Of My Work, I Have Access To A Lot Of ...
3                                           No Response
4                                                 Learn
5                                           No Response
6     To Deduce Meaningful Interpretation For Financ...
7                                           No Response
8                                           No Response
9                                           No Response
10    To See If It Is A Field I Am Interested In Pur...
11    To Learn And Explore Cutting Edge Data Technol...
12    Learn To Select The Appropriate Tools To Condu...
13                                          No Response
14                                    Improve My Skills
15    My Professional Goal Is To Become A Financial ...
16    Able To Compliment My Computational Social Sci...
17                                   To Start A Company
18    To Be Able Understand And Manipulate Data To M...
19    My Ultimate Goal Is To Get A Job As A Sports A...
20    To Understand How To Properly Interpret And Di...
21    After Graduating Data Analytics, I Want Myself...
22    Learning How To Appropriately Handle Large Qua...
23    To Learn And Understand The Fundamentals And M...
24    The Goal Is To Learn As Many Programming/Stati...
25       Learning Analytics Tool And Being Good At Them
26                       I Want To Be As A Data Analyst
27    It Is Very Relevant To My Phd Research Area An...
28    Learn How To Handle Large Amount Structured An...
29    To Become A Good Data Analyst And Work For Top...
30    Get A Better Understanding Of The Granularity ...
31                                          No Response
32                       Learn How Data Analytics Works
33                    Advance My Career In Data Science
34                                   Getting A Good Job
35                           To Use The Skills At Work.
Name: What is your goal for learning about data analytics?, dtype: object

#### Employment
It is a Nominal data, we will use mode to fill in the values.

In [158]:
data['Employment'] = data['Employment'].replace('', data['Employment'].mode()[0])
data['Employment']

0     Not Working while attending Mason
1            Working, but not Full Time
2                        Yes, Full Time
3     Not Working while attending Mason
4                        Yes, Full Time
5     Not Working while attending Mason
6            Working, but not Full Time
7     Not Working while attending Mason
8                        Yes, Full Time
9     Not Working while attending Mason
10    Not Working while attending Mason
11    Not Working while attending Mason
12           Working, but not Full Time
13    Not Working while attending Mason
14    Not Working while attending Mason
15    Not Working while attending Mason
16                       Yes, Full Time
17    Not Working while attending Mason
18    Not Working while attending Mason
19           Working, but not Full Time
20                       Yes, Full Time
21    Not Working while attending Mason
22           Working, but not Full Time
23    Not Working while attending Mason
24                       Yes, Full Time
25                       Yes, Full Time
26    Not Working while attending Mason
27    Not Working while attending Mason
28    Not Working while attending Mason
29    Not Working while attending Mason
30                       Yes, Full Time
31    Not Working while attending Mason
32                       Yes, Full Time
33                       Yes, Full Time
34    Not Working while attending Mason
35                       Yes, Full Time
Name: Employment, dtype: object

#### Python Proficiency
Taking the mode and filling in the missing values. Reason is same as above.

In [159]:
data['Python Proficiency'] = data['Python Proficiency'].replace('', data['Python Proficiency'].mode()[0])
data['Python Proficiency']

0              Some familiarity
1                  Average user
2              Some familiarity
3                  Average user
4              Some familiarity
5                  Average user
6                  Average user
7                  Average user
8              Some familiarity
9                  Average user
10                  Little/none
11    Frequent use for projects
12             Some familiarity
13                 Average user
14                 Average user
15             Some familiarity
16                 Average user
17    Frequent use for projects
18                  Little/none
19             Some familiarity
20             Some familiarity
21             Some familiarity
22             Some familiarity
23                  Little/none
24                 Average user
25                 Average user
26                 Average user
27                 Average user
28                 Average user
29                 Average user
30                  Little/none
31                 Average user
32                 Average user
33                 Average user
34             Some familiarity
35             Some familiarity
Name: Python Proficiency, dtype: object

#### Type of Laptop
Taking the mode and filling in the missing values. Reason is same as above.

In [160]:
data['Type of Laptop'] = data['Type of Laptop'].replace('', data['Type of Laptop'].mode()[0])
data['Type of Laptop']

0                      Apple/MacBook
1                      Apple/MacBook
2                      Apple/MacBook
3                  Microsoft/Windows
4                      Apple/MacBook
5                  Microsoft/Windows
6                  Microsoft/Windows
7                  Microsoft/Windows
8                  Microsoft/Windows
9                  Microsoft/Windows
10                 Microsoft/Windows
11                 Microsoft/Windows
12                     Apple/MacBook
13                 Microsoft/Windows
14                 Microsoft/Windows
15                 Microsoft/Windows
16    Microsoft/WindowsApple/MacBook
17                 Microsoft/Windows
18                 Microsoft/Windows
19                     Apple/MacBook
20                 Microsoft/Windows
21                 Microsoft/Windows
22    Microsoft/WindowsApple/MacBook
23                 Microsoft/Windows
24                 Microsoft/Windows
25                 Microsoft/Windows
26                     Apple/MacBook
27                 Microsoft/Windows
28                 Microsoft/Windows
29                     Apple/MacBook
30                 Microsoft/Windows
31    Microsoft/WindowsApple/MacBook
32                 Microsoft/Windows
33                 Microsoft/Windows
34                 Microsoft/Windows
35                      Acer/Windows
Name: Type of Laptop, dtype: object

#### R Proficiency
Taking the mode and filling in the missing values. Reason is same as above.

In [161]:
data['R Proficiency'] = data['R Proficiency'].replace('', data['R Proficiency'].mode()[0])
data['R Proficiency']

0                   Little/none
1                  Average user
2                   Little/none
3     Frequent use for projects
4              Some familiarity
5                  Average user
6                  Average user
7                  Average user
8     Frequent use for projects
9                  Average user
10                  Little/none
11                 Average user
12                 Average user
13                 Average user
14                  Little/none
15             Some familiarity
16             Some familiarity
17    Frequent use for projects
18                  Little/none
19                Fluent/expert
20             Some familiarity
21                  Little/none
22    Frequent use for projects
23                  Little/none
24                 Average user
25             Some familiarity
26    Frequent use for projects
27    Frequent use for projects
28                 Average user
29                 Average user
30             Some familiarity
31    Frequent use for projects
32             Some familiarity
33                 Average user
34             Some familiarity
35                  Little/none
Name: R Proficiency, dtype: object

#### SQL Proficiency
Taking the mode and filling in the missing values. Reason is same as above.

In [162]:
data['SQL Proficiency'] = data['SQL Proficiency'].replace('', data['SQL Proficiency'].mode()[0])
data['SQL Proficiency']

0                   Little/none
1                  Average user
2                   Little/none
3     Frequent use for projects
4              Some familiarity
5                  Average user
6                  Average user
7                  Average user
8     Frequent use for projects
9                  Average user
10                  Little/none
11                 Average user
12                 Average user
13                 Average user
14                  Little/none
15             Some familiarity
16             Some familiarity
17    Frequent use for projects
18                  Little/none
19                Fluent/expert
20             Some familiarity
21                  Little/none
22    Frequent use for projects
23                  Little/none
24                 Average user
25             Some familiarity
26    Frequent use for projects
27    Frequent use for projects
28                 Average user
29                 Average user
30             Some familiarity
31    Frequent use for projects
32             Some familiarity
33                 Average user
34             Some familiarity
35                  Little/none
Name: SQL Proficiency, dtype: object

In [165]:
data['Section'] = data['Section'].astype("string")

In [166]:
data.to_csv("580SurveyCleanup_formatted_cleaned.csv")